In [15]:
import pandas as pd
import numpy as np
import plotnine as p9
import pyfpgrowth as fp

import matplotlib.pyplot as plt
%matplotlib inline

import datetime
import time

In [16]:
# Reading JSON data into python as pandas dataframe.

data = pd.read_json('/Users/abdulrehman/Desktop/usml/data/AMAZON_FASHION.json',lines=True)
meta_data = pd.read_json('/Users/abdulrehman/Desktop/usml/data/meta_AMAZON_FASHION.json',lines=True)
data

,overall,verified,reviewTime,reviewerID,asin,reviewerName,reviewText,summary,unixReviewTime,vote,style,image
0,5,True,"10 20, 2014",A1D4G1SNUZWQOT,7106116521,Tracy,Exactly what I needed.,perfect replacements!!,1413763200,NaN,NaN,NaN
1,2,True,"09 28, 2014",A3DDWDH9PX2YX2,7106116521,Sonja Lau,"I agree with the other review, the opening is ...","I agree with the other review, the opening is ...",1411862400,3.0,NaN,NaN
2,4,False,"08 25, 2014",A2MWC41EW7XL15,7106116521,Kathleen,Love these... I am going to order another pack...,My New 'Friends' !!,1408924800,NaN,NaN,NaN
3,2,True,"08 24, 2014",A2UH2QQ275NV45,7106116521,Jodi Stoner,too tiny an opening,Two Stars,1408838400,NaN,NaN,NaN
4,3,False,"07 27, 2014",A89F3LQADZBS5,7106116521,Alexander D.,Okay,Three Stars,1406419200,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...
883631,5,True,"02 21, 2017",A1ZSB2Q144UTEY,B01HJHTH5U,Amazon Customer,I absolutely love this dress!! It's sexy and ...,I absolutely love this dress,1487635200,NaN,NaN,NaN
883632,5,True,"11 25, 2016",A2CCDV0J5VB6F2,B01HJHTH5U,Amazon Customer,I'm 5'6 175lbs. I'm on the tall side. I wear a...,I wear a large and ordered a large and it stil...,1480032000,2.0,NaN,NaN
883633,3,True,"11 10, 2016",A3O90PACS7B61K,B01HJHTH5U,Fabfifty,Too big in the chest area!,Three Stars,1478736000,NaN,NaN,NaN
883634,3,True,"11 10, 2016",A2HO94I89U3LNH,B01HJHF97K,Mgomez,"Too clear in the back, needs lining",Three Stars,1478736000,NaN,NaN,NaN
883635,5,True,"08 9, 2016",A2RSX9E79DUHRX,B01HJG5NMW,Natasha Mascarenhas,Ordered and was slightly small. Worked with th...,The quality is excellent and it is so cute,1470700800,NaN,NaN,NaN

In [4]:
# Converting unix time to Date format and storing it in reviewTime Column.

data['reviewTime']=data.apply(lambda row: list(time.gmtime(row.unixReviewTime))[:-6], axis=1)
data = data.sort_values('unixReviewTime')
data['year']=data.apply(lambda row: row.reviewTime[0], axis=1)

## We will Make 2 different User item matrix.
   ### 1. With items with overall rating of 4 and above.
   ### 2. With all the items, including items with bad ratings.

### Method to create user itemsets.

In [12]:
def make_useritem_matrix(byreviewer):
    reviewers = list(byreviewer.reviewerID.unique())
    itemratedf = pd.DataFrame(data={'reviewerID':reviewers})
    for index, row in byreviewer.iterrows():
        itemratedf.loc[itemratedf['reviewerID'] == row['reviewerID'], row['asin']] = row['overall']
    return itemratedf

## 1. Creating data with items with overall rating of 4 and above.

In [7]:
# Now we will prepare data to make recommendations only based on reviews which have 4 or more ratings.
# We will delete all the rows with overall ratings less than 4.
# Then we remove all customers who have made less than 9 transactions.
# It is hard to learn behaviour of a customer with just one or two transactions hence removing the customers with less
# transactions will help us learn better.

data.drop(data[ data['overall'] < 4 ].index , inplace=True)

byreviewer = data.groupby('reviewerID')
byreviewer = byreviewer.filter(lambda x: len(x) > 9)

## Saving data and user itemset with items with overall rating of 4 and above.

In [11]:
itemratedf = make_useritem_matrix(byreviewer)
itemratedf.to_csv(r'/Users/abdulrehman/Desktop/usml/data/AMAZON_FASHION_posonly_user_itemset.csv', index = False)
byreviewer.to_csv(r'/Users/abdulrehman/Desktop/usml/data/AMAZON_FASHION_posonly_user_clean.csv', index = False)

## 2. Creating data with all the items, including items with bad ratings.

In [13]:
data = pd.read_json('/Users/abdulrehman/Desktop/usml/data/AMAZON_FASHION.json',lines=True)

# We remove all customers who have made less than 9 transactions.
# It is hard to learn behaviour of a customer with just one or two transactions hence removing the customers with less
# transactions will help us learn better.

byreviewer = data.groupby('reviewerID')
byreviewer = byreviewer.filter(lambda x: len(x) > 9)

## Saving data and user itemset with items with all the items, including items with bad ratings.

In [14]:
itemratedf = make_useritem_matrix(byreviewer)
itemratedf.to_csv(r'/Users/abdulrehman/Desktop/usml/data/AMAZON_FASHION_user_itemset.csv', index = False)
byreviewer.to_csv(r'/Users/abdulrehman/Desktop/usml/data/AMAZON_FASHION_clean.csv', index = False)

In [ ]:
# We will now do EDA on the cleaned Data in EDA.ipynb